 
*{
  margin: 0;
  padding: 0;
}
.site-container{
  text-align: center;
}
html {
  font-size: 14px;
}
body {
  /* position: relative; */
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  line-height: 1.5;
  color: black;
  margin:0;
}
.header{
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid black;
  height: 5vh;
  padding: 1%;
}
.logo{
  position: absolute;
  left: 10%;
  top: 0;
  /* border: 1px solid black; */
}
.header > h1{
  position: relative;
  font-size: 2rem;
  left: 15%;
  top: 0;
  display: block;
  /* border: 1px solid black; */
  height: 5vh;
  width: 20%;
  
}
.camera{
  position: absolute;
  top: 0;
  right: 15%;
  /* border: 1px solid black; */
}
.card{
  position: relative;
  display: block;
  left: 34%;
  /* top: 40px; */
  border: 1px solid black;
  width: 30%;
  height: 30%;
  /* padding: 0.5%; */
  margin: 1%;
}

header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  /* border: 1px solid black; */
} 


.info{
  display: block;
  padding: 1%;
  /* border: 1px solid black; */
  width: 80px;
  word-wrap: break-word;
}
.threedots{
position: absolute;
display: inline-flex;
right: 4%;
top: 4%;
  
}
.like{
  padding: 1%;
  /* width: 15%; */
  margin-bottom: 5%;
  /* border: 1px solid; */
}
.like > i{
  margin-left: 10%;
}
.likes-date{
  /* border: 1px solid black; */
  display: flex;
  height: 15%;
  justify-content: space-between;
}

.img-container{
  display: flex;
  /* position: absolute; */
  height: 70%;
}
.date{
  display: inline-flex;
  /* border: 1px solid black; */
  /* width: 16%; */
  height: 100%;
  padding: 1%;
  
}
.para{
  padding: 1%;
}